<%- include('../port/layout-start', {title: title}) %> <%-
include('../port/menu.ejs') %>

<h2 class="mt 10"><%= title %></h2>
<%- include('./form.ejs'), { book: book} %> <%-
include('../port/layout-end.ejs') %>
