<%- include('../port/layout-start', {title: title}) %> <%-
include('../port/menu.ejs') %>

<h2 class="mt 10"><%= title %></h2>
<h4 class="mt 5">Number of views: <%= count.count %></h4>
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Title: <%= book.title%></h5>
    <p class="card-text"><%= book.description%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Authors: <%= book.authors %></li>
    <li class="list-group-item">Favorite: <%= book.favorite %></li>
    <li class="list-group-item">FileCover: <%= book.fileCover %></li>
    <li class="list-group-item">FileName: <%= book.fileName %></li>
    <li class="list-group-item">
      FileBook:
      <a href="/api/books/<%= book.id %>/download" class="card-link"
        ><%= book.fileBook %>
      </a>
    </li>
  </ul>
  <div class="card-body">
    <a class="btn btn-sm btn-primary" href="/url/books/update/<%= book.id %>">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <form
      action="/url/books/delete/<%= book.id %>"
      method="POST"
      class="d-inline"
    >
      <button class="btn btn-sm btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</div>

<%- include('../port/layout-end.ejs') %>
